body{
    width: auto;
    height: 11276px;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 112px;
    background-color:rgba(255, 255, 255, 0.42);
}
.head_left{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.head_right{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.container1{
    width: 100%;
    height: 1134px;
    background-image: url("art/firstscreen.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.text{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    color: white;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 346px;
    height: 70px;
    background-color: black;
    border-style: solid;
    border-color: black;
}
.title{
    display: flex;
}
.polocka{
    height: 96px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: end;
    justify-content: space-around;
    gap: 50px;
    color: white;
}
.container1-{
width: auto;
height: 252px;
background-color: #F0FAF7;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
    background-color: white;
}
.text2{
    padding-top: 20px;
    gap: 50px;
}
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  gap: 50px;
}
.conteriki{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.con3_1{
    width: 386px;
    height: 333px;
    background-color: #005466;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color{  color: #F6F9E5;}
.con3_2{
    width: 386px;
    height: 333px;
    background-color: #F7D8BF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color2{ color:#C47B59;}
.con3_3{
    width: 386px;
    height: 333px;
    background-color: #F1FAF6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color3{color:  #64BAA1;}
.button2{
    width: 242px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-style: solid;
    border-color: black;
    background-color: white;
}
.container4{
    width: auto;
    height: 1401px;
    background-color: #005466;
}
.title1{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text4{ gap: 20px;}
.redblue{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.colori{
    width: 26px;
    height: 26px;
    border-style: solid;
    background-color: #13C0D7;
}
.colori1{
    width: 26px;
    height: 26px;
    border-style: solid;
    background-color: #D53F23;
}
.button3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
}
.volna{
padding-left: 50px;
padding-top: 170px;
}